* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

.INNERCOLOR{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.INNER_ROTATE{
    object-fit: cover;
    transform-origin: center;
    animation: Inner_Rotator 2s linear infinite;
}

@keyframes Inner_Rotator {
    0% {
        transform: rotate(0deg);
        scale: 0.8;
    }
    50% {
        transform: rotate(180deg);
        scale: 1;
    }
    100% {
        transform: rotate(360deg);
        scale: 0.8;
    }
    
}
.IMAGE1{
    position: absolute;
    width: 15vw;
    height: 14vw;
    rotate: -5deg;
    border-radius: 20px 20px 250px 250px;
    background-image: url(https://images.unsplash.com/photo-1626770537547-66e789b70e2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==&auto=format&fit=crop&w=2574&q=80);
    background-size: cover;
    background-position: center;
}

.RIGHT_IMAGE{
    rotate: 7deg;
    width: 15vw;
    height: 14vw;
    border-radius: 20px 360px 20px 20px;
    background-image: url(https://images.unsplash.com/photo-1571781926291-c477ebfd024b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1976&q=80);
    background-position: bottom;
    background-size: cover;
    background-position: 0 80%;
}

.scrollDown{
    animation: scrollDown 0.8s linear infinite alternate;
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(8px);
    }
    
}

.Animate{
    transition: all linear .3s;
}

.MarqueeContainer{
    animation: MarqueeContainer 20s linear infinite;
}

@keyframes MarqueeContainer {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
    
}